.city__image{
     background-image:url(../images/city.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
   min-height: 700px;
     overflow: hidden;
}